@font-face {
  font-family: "SegoeUI_shld";
  src: url("./fonts/SegoeUI_shld-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
  font-synthesis: none;
}

.sf-shield { font-family: "SegoeUI_shld"; }
